<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @comment.event.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @comment.image %>
</p>
