<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Place</th>
      <th>Hidden Status</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.place %></td>
        <td><%= event.hidden_status %></td>
        <td><%= event.start %></td>
        <td><%= event.end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
