<div class="jumbotron">
</div>
<div class="container">
  <div class="row">

    <%= render('layouts/sidenav') %>

    <div class="col-md-7">
      <% @events.each do |event| %>
        <div class="card mb-2">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 first-picture">
                <%= image_tag("events/"<< event.pictures, :alt => "Event picture", :class => "events-list-picture")%>
              </div>
              <div class="col-md-8">
                <%= link_to content_tag(:h5, event.name, :class => "card-title"), event_path(event)%>
                
                <h6 class="card-subtitle mb-2 text-muted"><%= event.place %></h6>
                <p class="card-text"><%= event.description %></p>
                <p class="card-text">Suitable for: <%= event.age_filter %> years old</p>
                <p class="card-text">Start: <%= time_format(event.start) %></p>
                <p class="card-text">End: <%= time_format(event.end) %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= render('layouts/advertisement') %>

      <div class="card mt-2">
        <div class="card-header">
          Featured Places
        </div>
        <div class="card-body">
          <h5 class="card-title">Phố đi bộ Hồ Gươm</h5>
          <p>bla bla</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Phố đi bộ Hồ Gươm</h5>
          <p>bla bla</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Phố đi bộ Hồ Gươm</h5>
          <p>bla bla</p>
        </div>
      </div>

    </div>
  </div>
</div>