<div class="jumbotron">
</div>
<div class="container">
  <div class="row">

    <% if user_signed_in? && current_user.admin? %>
      <%= render('layouts/adminsidenav') %>
    <% else %>
      <%= render('layouts/sidenav') %>
    <% end %>

    <div class="col-md-7">
      <% @places.each do |place| %>
        <div class="card mb-2">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 first-picture">
                <%= image_tag(place.picture, :alt => "place picture", :class => "place-picture") if place.picture.attached? %>
              </div>
              <div class="col-md-8">
                <%= link_to content_tag(:h5, place.name, :class => "card-title"), place_path(place)%>
                
                <p class="card-text"><%= place.description %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-3">
      <%= render('layouts/advertisement') %>

      <div class="card mt-2">
        <div class="card-header">
          Featured Places
        </div>
        <div class="card-body">
          <h5 class="card-title">Phố đi bộ Hồ Gươm</h5>
          <p>bla bla</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Phố đi bộ Hồ Gươm</h5>
          <p>bla bla</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Phố đi bộ Hồ Gươm</h5>
          <p>bla bla</p>
        </div>
      </div>

    </div>
  </div>
</div>
