<%= form_with(model: event, local: true, class: "form-horizontal") do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_field :name, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :description, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_area :description, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :place, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_field :place, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group row">
    <%= form.label :age, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.number_field :age_filter, :class => "form-control", :min => 0 %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :start, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_field :start, :id => "start", :class => "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :end, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_field :end, :id => "end", :class => "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :pictures, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.file_field :pictures, :multiple => true %>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit :class => "btn btn-primary" %>
    </div>
  </div>

<script>
  $('#start').datetimepicker({ 
    footer: true,
    format: 'HH:MM yyyy-mm-dd',
  });
  $('#end').datetimepicker({ 
    footer: true,
    format: 'HH:MM yyyy-mm-dd',
  });
</script>
<% end %>
