<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<%= form_for [@event, @comment], html: {class: "form-inline"}, remote:true do |f| %>              
  <div class="form-group" style="width:100%">
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :event_id, value: @event.id %>
      <%= f.text_area :content, rows: 1, :class => "comment-box form-control", :style=>"width:50%",
          :required => true, :autocomplete => 'off', placeholder: "Reply" %>
          
      <%= f.submit "Comment", id: "reply_submit", class: "btn btn-primary" %>
  </div>
<% end %>
<table>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user.name %></td>
        <td><%= comment.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', "javascript: history.go(-1)" %>
