<div class="container mt-5">  
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6 image-slide-size">
          <%= image_tag(@event.pictures[0], :alt => "Event picture", :class => "events-list-picture") if @event.pictures.attached? %>
        </div>
        <div class="col-md-6">
          <p><%= @event.name %></p>

          <p>
            <strong>Place:</strong>
            <%= @event.place %>
          </p>

          <p>
            <strong>Start:</strong>
            <%= @event.start %>
          </p>

          <p>
            <strong>End:</strong>
            <%= @event.end %>
          </p>
        </div>
      </div>

      <p>
        <strong>Description:</strong>
        <%= @event.description %>
      </p>

      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to 'Edit', edit_event_path(@event), :class => "btn btn-primary" %> 
          <%= link_to 'Back', "javascript: history.go(-1)", :class => "btn btn-secondary" %>
        <% else %>

          <%= link_to 'Join', "javascript:void(0)", :class => "btn btn-primary" %> 
          <%= link_to 'Back', "javascript: history.go(-1)", :class => "btn btn-secondary" %>
          <%= render partial: "comments/form", locals: { event: @event, comment: @comment } %>

          
          <%= render partial: "comments/index",  collection: @event.comments, as: "comment" %>
        <% end %>
      <% else %>
        <p>Sign in to view comments</p>
      <% end %>

    </div>
    <div class="col-md-3">
      <%= render('layouts/advertisement') %>
    </div>
  </div>
</div>
