<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@place.latitude%>, <%=@place.longitude%>)
    });
  </script>
<% end %>

<p id="notice"><%= notice %></p>

<div class="row">    
    <% if user_signed_in? && current_user.admin? %>
      <%= render('layouts/adminsidenav') %>
    <% else %>
      <%= render('layouts/sidenav') %>
    <% end %>

    <div class="col-md-7">
      <h1>
        <%= @place.name %>
      </h1>

      <div class="row">
        <div class="col-md-9 place-image-holder">
          <%= image_tag(@place.picture, :alt => "Place picture", :class => "place-picture") if @place.picture.attached? %>
        </div>

        <div class="col-md-3">
          <div id="map"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 offset-md-2">
        <p>
          <strong>Description:</strong>
          <%= @place.description %>
        </p>

        <h4>Weather this week:</h4>
        <table class="table table-bordered">
          <thead>
            <tr class="text-center">
              <% @weathers["list"].each do |weather| %>
                  <th><%= place_datetime_format(weather["dt"]) %></th> <%# strptime ở đây %>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% @weathers["list"].each do |weather| %>
                <td class="text-center">
                  <p>
                    <%= image_tag 'http://openweathermap.org/img/w/'+weather["weather"][0]["icon"]+'.png', alt: "Weather" %>
                  </p>
                  <p><%= weather["weather"][0]["main"] %></p>
                  <p><%= weather["temp"]["day"] %> &#8451</p>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>

        <% if user_signed_in? && current_user.admin? %>
          <%= link_to 'Edit', edit_place_path(@place), class: "btn btn-warning" %>
        <% end %>
        <%= link_to 'Back', places_path, class: "btn btn-link" %>
      </div>
    </div>
</div>
